.pac-container {
  z-index: 1000; /* Make sure the dropdown appears above other elements */
}

.pac-item {
  color: black; /* Change the text color of dropdown items */
}

/* Change the text color of matched portion of the suggestion */
.pac-item-query {
  color: black;
}
